<div class="causes block">
	<span>Что мы</span><br>
	<span>Предлагаем</span>
	<p>Первый, единственный в мире магазин времени www.niocoins.com предлагает вам уникальный товар - единицу времени. Ваше время будет отображаться на главной странице сайта www.niocoins.com. При покупке минуты в выбранное вами время, Вы покупаете трансляцию этой минуты на все следующие года, до бесконечности. Таким образом вы можете увековечить свой посыл всему миру.
Вы покупаете время только один рас, но эта покупка останеться с вами навечно! Об этом будет указано в сертификате о владением временем, который вы получите при покупке.
Поспешите, количество времени ограниченно!</p>
</div>