{% set causes = [
	{ "text" :"Магазин времени “Niocoin” располагает уникальным товаром - единицей времени. Вы покупаете минуты лишь однажды, но они остаются с вами навечно. На главной странице сайта из года в год появляются ваши слова в то время, владельцем которого вы являетесь. Вместе с покупкой вы получаете сертификат, удостоверяющий ваши права на временной отрезок. Но помните: количество времени ограничено!
"
	}
]%}

<div class="causes block">
	<span></span><br>
	<span>“Niocoin” предлагает</span>
	{% for item in causes %}
		<p>{{ item.text }}</p>
	{% endfor %}
</div>