{% set slider = [
	{"title": "мой посыл вселенной", "autor":"Светлана 15.01.2015 23:32:12", "text" :"Мне нужен хороший человек, с которым у меня сложится взаимопонимание, взаимоуважение, с коим у меня будут сходное мировоззрение, отношение к семье и быту. Он должен быть умным, воспитанным, хорошим специалистом, желательно технической профессии, нравятся технари, любящий детей и ..."
	},
	{"title": "мой вселенной", "autor":"Светлана 15.01.2015 23:32:12", "text" :"Мне нужен хороший человек, с которым у меня сложится взаимопонимание, взаимоуважение, с коим у меня будут сходное мировоззрение, отношение к семье и быту. Он должен быть умным, воспитанным, хорошим специалистом, желательно технической профессии, нравятся технари, любящий детей и ..."
	},
	{"title": " посыл вселенной", "autor":"Светлана 15.01.2015 23:32:12", "text" :"Мне нужен хороший человек, с которым у меня сложится взаимопонимание, взаимоуважение, с коим у меня будут сходное мировоззрение, отношение к семье и быту. Он должен быть умным, воспитанным, хорошим специалистом, желательно технической профессии, нравятся технари, любящий детей и ..."
	}
]%}

<div class="example blue-block" id="view">
<span>Как это выглядит</span><br>
<span>Несколько примеров</span>
<div class="regular">
	{% for item in slider %}	
		<div class="example__item">
			<span class="example__title">{{ item.title }}</span>
			<p>{{ item.text }}</p>
			<span class="example__autor">{{ item.autor }}</span>
			<a href="" class="example__link" >Посмотреть на сайте</a>
		</div>
	{% endfor %}
	</div>
	<a class="arrow arrow_left" id="arrowleft" href=""></a>
	<a class="arrow arrow_right" id="arrowright" href=""></a>
</div>





