<div class="popup-wrapper">
    <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne">
    <div class="popup">
        <div class="popup-content">
            <div id="hidden2">
                <span>Напишите ваш вопрос</span>
                <span>Менеджер ответит вам в ближайшее время</span>
                <form class="ajax-mail-form" data-type="callback">
                	<input type="text" name="name" placeholder="Ваше имя">
                	<input type="tel" name="phone" placeholder="Ваш телефон">
                    <textarea class="contact__text" placeholder="Введите сообщение" name="message"></textarea><br>
                    <button class="podbor__button button">Отправить</button>
                </form>
            </div>
            <label for="popupCheckboxOne" class="popup-closer">&#215;</label>

            <div class="approved2" id="approved2" style="visibility: hidden">
                <span>Спасибо!</span><br>
                <span>Ваша заявка принята!</span><br>
                <span>Менеджер свяжется с Вами в ближайшее время!</span><br>
                <a href="" class="button">вернуться назад</a>
                <label for="popupCheckboxOne" class="popup-closer">&#215;</label>
            </div>
        </div>
    </div>
</div>