{% set causes = [
	{ "text" :"Вы - владелец частички вечности. Вам принадлежит столько времени, сколько вы пожелаете. В этот момент мир внемлет вам. Что бы вы сказали в эту минуту? Признались бы в любви? Поделились мыслями и переживаниями? Поздравили дорогого человека? “Niocoin” поможет увековечить посыл всем влюбленным, мечтательным, творческим, вдохновленным - всем тем, кому есть, что выкрикнуть во Вселенную.
"
	}
]%}
<div class="header">
	<div class="header__menu menu">
		<a href="/" class="logo">
			<img src="images/logo.png" class="logo__image" />
		</a>
		<div class="menu__block">
			<ul class="menu__block__list" id="u10657">
				<li class="menu__block__item"><a href="https://www.niocoins.com/" target="_blank">МАГАЗИН ВРЕМЕНИ</a></li>
				<li class="menu__block__item"><a href="#use">как использовать</a></li>
				<li class="menu__block__item"><a href="#buy">как купить</a></li>
				<li class="menu__block__item"><a href="#view">КАК ЭТО ВЫГЛЯДИТ</a></li>
				<li class="menu__block__item"><a href="#causes">ПРЕИМУЩЕСТВА</a></li>
				<li class="menu__block__item"><a href="#quest">ЗАДАТЬ ВОПРОС</a></li>
			</ul>
			<a href="" class="menu__icon" id="menu-button"></a>
		</div>
	</div>
	<div class="about-us">
		<img src="../images/clock.png">
		<span>Магазин времени</span>
		<span>Единственный в мире</span>
		<a href="https://www.niocoins.com/scripts/search_free_time.php" target="_blank" class="about-us__button button">проверить свободное время</a>	
	</div>
	<div class="about-clock">
		<span></span>
		<span>Представьте!</span>
		{% for item in causes %}
			<p>{{ item.text }}</p>
		{% endfor %}
		<a href="https://www.niocoins.com/" target="_blank" class="about-clock__button button">Время здесь</a>
	</div>	
</div>