{% set point = [
	{"text" :"Покупая время вы увеличиваете его ценность, так как ценность времени растет вместе с популярностью ресурса"
	},
	{"text" :"В момент показа времени на экране, вы приобретаете все большую известность"
	},
	{"text" :"В любой момент вы можете ввести, вывести, продать или обменять время"
	},
	{"text" :"Вы есть участником уникального, первого в мире проекта воспользуйтесь идеей сервиса!"
	}
]%}

<div class="example blue-block">
<span>Не теряйте время</span><br>
<span>Владейте им!</span>
	<div class="losstime">
		<span class="losstime__title">Только подумайте</span>
		<ul class="losstime__list">
			{% for item in point %}	
				<li class="losstime__item">{{ item.text }}</li>
			{% endfor %}
		</ul>
		<span>Остались вопросы?</span><br>
		<label for="popupCheckboxOne"  class="losstime__link">Задайте их менеджеру</label>
		<img src="../images/421.png">
		<a href="https://www.niocoins.com/" target="_blank" class="losstime__button button">Купить время</a>
	</div>
</div>
