{% set point = [
	{"text" :"Популярность ресурса растет, следовательно, растет и ценность времени. Стоимость купленного вами мгновения увеличивается;"
	},
	{"text" :"Вы можете ввести и вывести, продать или обменять нужный вам временной отрезок;"
	},
	{"text" :"О вас узнают, когда читают ваше послание на экране;"
	},
	{"text" :"Вы становитесь участником первого в своем вроде проекта!"
	}
]%}

<div class="example blue-block">
<span>Не теряйте время</span><br>
<span>Владейте им!</span>
	<div class="losstime">
		<span class="losstime__title">Задумайтесь!</span>
		<ul class="losstime__list">
			{% for item in point %}	
				<li class="losstime__item">{{ item.text }}</li>
			{% endfor %}
		</ul>
		<span>Остались вопросы?</span><br>
		<label for="popupCheckboxOne"  class="losstime__link">Обратитесь к менеджеру!</label>
		<img src="../images/421.png">
		<a href="https://www.niocoins.com/" target="_blank" class="losstime__button button">Купить время</a>
	</div>
</div>
