{% set cost = [
	{"title" :"Для дорогих людей", "": "Время","cost": "1 руб.",
	"list": [
		{ "item": "Вечный подарок для вечно любимого человека;"},
		{ "item": "Оригинальный сюрприз для друга."}
		]
	},
	{"title" :"Посыл во вселенную", "subtitle": "","cost": "4 руб.",
	"list": [
		{ "item": "Переживания, мысли и чувства, о которых невозможно молчать;"},
		{ "item": "Дань уважения происшествиям мировой значимости."}
		]
	},
	{"title" :"Память о событии", "subtitle": "","cost": "5 руб.",
	"list": [
		{ "item": "Увековечивание радостного события;"},
		{ "item": "Рассказ о сиюминутном маленьком счастье."}
		]
	}
]%}
<div class="usetime block" id="use">
	<span>Используйте время</span><br>
	<span>По-разному</span>
	<ul class="usetime__list">
		{% for item in cost %}
			<li class="usetime__item">
				<span class="usetime__title">{{ item.title }}</span><br>
				<span class="usetime__subtitle">{{ item.subtitle }}</span>
				<ul class="usetime__point-list">
					{% for items in item.list %}
						<li class="usetime__point-item">{{ items.item }}</li>
					{% endfor %}
				</ul>
				<div class="usetime__cost">
					<span></span><br>
					<span></span><br>
					<a class="button" href="https://www.niocoins.com/" target="_blank">Подарить время</a>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>